{% extends 'base.html'%}
{% block content %}

<body style="height: 100vh; background-color: aquamarine;">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center" >

            <div class="col col-md-4">
                <label for="" class="form.label mb-2">Upload file</label>
                <input type="file" id="file" class="form-control mb-3" multiple >
                <br>
                <br>
                <button class="btn btn-primary float-end" type="submit" onclick="uploadFile();" > submit </button>
                <br>
                <br>
                <br>

                <div id="progress-box" class="not-visible"></div>
                <div id="cancel-box" class="not-visible">
                <div id="alert-box"></div>
             
            </div>
        </div>



    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>

const alertBox=document.getElementById('alert-box')

const progresssBoX=document.getElementById('progress-box')
const cancelBox=document.getElementById('cancel-box')




    function uploadFile(){
    var data =new FormData();

    var url ='/multiple_upload/';
    var files= $("input[id^='file']")[0].files;
    
    if(files.length == 0)
    {
        alert('No File Selected');
        return;
    }
    
    for (i=0;  i< files.length; i++){
        data.append('files',files[i]);

    }
    data.append('csrfmiddlewaretoken',"{{ csrf_token }}");
    $.ajax({
        method:'POST',
        url:url,
        processData:false,
        contentType:false,
        mimeType:"multipart/form-data",
        data:data,

        xhr: function(){
            const xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener('progress', e=>{
                if (e.lengthComputable) {
                    const percent = (e.loaded / e.total) * 100
                    console.log(percent)
                    progresssBoX.innerHTML = `<div class="progress">
                                                 <div class="progress-bar" role="progressbar" style="width: ${percent}%" aria-valuenow=" ${percent}" aria-valuemin="0" aria-valuemax="100"></div>
                                               </div>
                                               <p>${percent.toFixed(1)}%</p>`
                }

            })
            
            return xhr
        },

        
        
        







    
        success:function(res){
            console.log(res)
            alertBox.innerHTML = `<div class="alert alert-success" role="alert">
                                      file upload successfully...
                                 </div>`


        

            

        },
        error:function(error){
            console.log(error)
            alertBox.innerHTML = `<div class="alert alert-danger" role="alert">
                                     something went wrong...
                                </div>`
        }

        

        




    });





}

</script>

    
</body>
{% endblock %}